[Unit]
Description=Galina
After=syslog.target

[Service]
User=ilya
ExecStart=/home/ilya/src_meteo/galina/target/galina-0.0.1-SNAPSHOT.jar SuccessExitStatus=143 
Restart=always

[Install] 
WantedBy=multi-user.target